@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-heartbeat {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s cubic-bezier(0.2, 0.9, 0.4, 1.1), transform 0.8s cubic-bezier(0.2, 0.9, 0.4, 1.1);
  }

  .fade-up.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
  
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
    display: inline-block;
    white-space: nowrap;
  }

  /* Pausa al pasar el mouse (opcional) */
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}